# Configurações do Azure Microsoft Entra ID
AZURE_TENANT_ID = "seu_id_de_locatário"
AZURE_CLIENT_ID = "seu_client_id"
AZURE_CLIENT_SECRET = "sua_senha_do_aplicativo_no_azure"
EMAIL_ALVO = "seu_email"

API_KEY = "CHAVE_API_AQUI"